.color-red
{
    color: red;
}


.color-gold
{
    color: gold;
}


.color-darkorange
{
    color: darkorange;
}


.color-crimson
{
    color: crimson;
}


.background-color-lightblue
{
    background-color: rgb(225, 229, 255);
}


.background-color-lightblue-1
{
    background-color: rgb(247, 248, 255);
}


.display-flex
{
    display: flex;
}


.text-align-center
{
    text-align: center;
}


.justify-items-center
{
    justify-items: center;
}


.justify-content-center
{
    justify-content: center;
}


.padding-0
{
    padding:30px 15px;
}


.width-0
{
    width: 100%;
    background-color: rgb(248, 253, 255);
}


.width-1
{
    width: 95%;
}


.margin
{
    margin: auto;
}


.gap
{
    gap: 30px;
}


.width-2
{
    width: 370px;
}


.flex-direction
{
    flex-direction: column;
}


.flex
{
    flex-wrap: wrap;
}


.align-items-center
{
    align-items: center;
}


.margin-left
{
    margin-left:0;
}


